<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Table Template</title>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
            .footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 2px 0;
            margin-top: 216px;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pet World</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adopted_pets' %}">My Adopted Pets</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pet_list' %}">Pets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container mt-5">
    <h2 class="mb-4">Welcome {{ user_model.first_name }}</h2>
    <a href="{% url 'user_change_pass' %}" class="btn btn-primary">update password</a>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Image</th>
                    <th>Action1</th>
                    <th>Action2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user_model.first_name }}</td>
                    <td>{{ user_model.last_name }}</td>
                    <td>{{ user_model.email }}</td>
                    <td>{{ user_model.usermodel.mobile_number }}</td>
                    <td>{{ user_model.usermodel.address }}</td>
                    <td>
                        {% if user_model.profileimage.profile_image  %}
                        <img src="/media/{{ user_model.profileimage.profile_image }}" alt="Profile Image" class="img-fluid rounded-circle" width="50">
                        {% else %}
                        <img src="{% static 'avater.webp' %}" alt="Static Image" class="img-fluid rounded-circle" width="50">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'user_edit_profile' user_model.usermodel.id %}" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'user_self_delete' user_model.usermodel.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Pet Adoption. All rights reserved.</p>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
