<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Form</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #dcd7d5; /* Light gray background color */
        }

        .card {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container mt-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="card-title">Update Your Profile</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'user_edit_profile' data.id %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div>
                                <input type="hidden" class="form-control" name="id" value="{{data.id}}">
                            </div>

                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="first_name" value="{{data.user.first_name}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="last_name" value="{{data.user.last_name}}" required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{data.user.username}}" required>
                                {% if errors.username %}
                                <div class="text-danger">{{ errors.username }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{data.user.email}}" required>
                                {% if errors.email %}
                                <div class="text-danger">{{ errors.email }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">Mobile</label>
                                <input type="tel" class="form-control" id="mobile" name="mobile_number" value="{{data.mobile_number}}" required>
                                {% if errors.mobile_number %}
                                <div class="text-danger">{{ errors.mobile_number }}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <textarea class="form-control" id="address" name="address" rows="3" required>{{data.address}}</textarea>
                            </div>
                            <div class="mb-3">
                                {% if data.user.profileimage.profile_image  %}
                                <img src="/media/{{ data.user.profileimage.profile_image }}" alt="Profile Image" class="img-fluid rounded-circle" width="50">
                                {% else %}
                                <img src="{% static 'avater.webp' %}" alt="Static Image" class="img-fluid rounded-circle" width="50">
                                {% endif %}
                                <label for="image" class="form-label">Upload Image</label>
                                <input class="form-control" type="file" id="image" name="profile_image" >
                            </div>
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <a href="{% url 'user_self_profile' %}" class="btn btn-danger" >Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
